@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Righteous", cursive;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

p {
  margin: 0px;
}

.mensajeError {
  font-size: 25px;
}

.error {
  background-color: white;
  border-radius: 20px;
  height: 50px;
  width: 100%;
}

.contenedor {
  background-color: white;
  border-radius: 20px;
}

.titulo {
  height: 100px;
  width: 600px;
  background-color: white;
  font-size: 35px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: 1.5s;
  opacity: 0.9;
}

.zoom {
  transition: width 1s, height 1s, transform 1s;
}
.zoom:hover {
  transform: scale(1.5);
}

.titulo:hover {
  opacity: 0.8;
  font-size: 37px;
}

.monto {
  font-size: 19px;
  border-radius: 5px;
}

.nombreGasto {
  font-size: 16px;
}

.contenedorPresupuesto {
  background: rgb(60, 60, 175);
}
